.page {

}

.page__box {
    max-width: 1100px;
    margin: auto;
    display: flex;
    padding-top: 75px;
}

.page__header {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: var(--black);
    margin-right: 194px;
    margin-top: 0;
}

