.histogram {
    padding: 16px 24px 24px 24px;
    background: var(--white);
    border: 1px solid var(--gray-3);
    box-sizing: border-box;
    border-radius: 8px;
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__detail {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--primary-color);
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;
}

.histogram__total {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin: 6px 0 39px;
}

.histogram__content {
    position: relative;
    flex-grow: 1;
    min-height: 50px;
    display: flex;
    align-items: baseline;
}

.histogram__content-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.histogram__column {
    flex-basis: 100%;
    background: var(--primary-color);
}

.histogram__column + .histogram__column {
    margin-left: 1px;
}